:root {
    --navBackgroundColor: rgb(50, 50, 90);
    --forecastBackgroundColor: darkgrey; 
    --fontColor: rgba(255, 255, 255, 0.904);
}

img {
    width: 40px;
    height:40px;
}

.background {
    background-color: var(--navBackgroundColor);
    color: var(--fontColor);
}

li{
    list-style: none;
}